* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DotGothic16", serif;
  font-weight: 600;
  font-style: normal;
}

#display-page {
  background-image: url("/images/cat-throwing-brick.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  background-attachment: fixed;
  margin: 0;
  overflow: hidden;
}
/* INDEX */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.hover-logo {
  position: relative;
  display: inline-block;
}

.hover-logo::before {
  content: attr(data-hover);
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  transition: width 0.15s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
}

.hover-logo:hover::before {
  width: 100%;
}

.navbar a {
  position: relative;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: 1;
}

.navbar a:hover::before {
  width: 100%;
}

.initial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.initial-title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.initial-sub {
  margin-top: 10px;
  font-size: 20px;
}

.intro-btn {
  margin-top: 50px;
  cursor: pointer;
  padding: 15px 30px;
  border: 100;
  border-radius: 3px;
  font-size: 15px;
}

.intro-btn:hover {
  background-color: #000;
  color: #fff;
}

.easter-egg {
  display: flex;
  justify-content: left;
  align-items: center;
}

.easter-text {
  font-size: small;
  margin-right: 10px;
  margin-left: 5px;
}

/* ABOUT */
.wrapper {
  width: 100%;
  min-height: 100vh;
}

.wrapper .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.container .about-image {
  margin-top: 100px;
}

.container .about-image img {
  height: 250px;
  width: 250px;
  border: 8px solid black;
  border-radius: 50%;
}

.container .article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 30px 0px;
}

.container .article h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.container .article span {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgb(45, 165, 105);
}

.container .article p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px 0px;
  line-height: 1.5;
}

.social-links a {
  text-decoration: none;
}
/* From Uiverse.io by Pradeepsaranbishnoi */
.social-links,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: "Titillium Web", sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: 80px;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

#linkedin span {
  white-space: nowrap;
  overflow: hidden;
}

/* DISPLAY */
.clock-container {
  height: 100vh;
  position: relative;
}

#clock {
  text-align: center;
  font-size: 72px;

  color: #fff;
  padding: 10px;
  min-width: 380px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#fullscreen-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#fullscreen-btn img {
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

#fullscreen-btn::after {
  content: attr(data-tooltip);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 70px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease;
}

#fullscreen-btn:hover {
  opacity: 1;
}

#fullscreen-btn:hover::after {
  visibility: visible;
  opacity: 1;
}

#fullscreen-btn:not(:hover) {
  transition-delay: 1s;
}

#fullscreen-btn[data-visible="true"] {
  opacity: 1;
}

.hidden {
  display: none;
}

#settings-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#settings-btn img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
}

#settings-btn:hover img {
  transform: scale(1.15);
}
